.popup-form__input-text {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  height: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
}

.popup-form__input-text::placeholder {
  color: #c4c4c4;
}

.popup-form__input-text:focus {
  outline: none;
}
